.pStyle {
    color: rgb(17, 0, 58);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.circleImage {
    border-radius: 70%;
    border-color: blue;
    border-style:solidcolor; 
    border-width: 7px;
}
#heading {
    color: rgb(212, 15, 230);
}
body {
    background-color: rgb(255, 216, 158);
  }
#firstbox {
    color: cornflowerblue;
    padding-bottom: 10;
    border-style: ridge;
}
#secondbox {
    color: rgb(233, 167, 219);
    padding-bottom: 10;
    border-style: ridge;
}
#thirdbox {
    color: cornflowerblue;
    padding-bottom: 10;
    border-style: ridge;
}
#fourthbox {
    color: rgb(243, 164, 210);
    padding-bottom: 10;
    border-style: ridge;
}
h1 {
    background-color: rgb(218, 255, 237);
  }
  
  div {
    background-color: rgb(173, 230, 221);
  }
  
  p {
    background-color: rgb(151, 238, 185);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }