.navbar {
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: .5rem 1rem;
}
.customNavBg {
  background-color: rgb(63, 41, 73);
}
.navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.pStyle {
    color: rgb(17, 0, 58);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.circleImage {
    border-radius: 70%;
    border-color: blue;
    border-style:solidcolor; 
    border-width: 7px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
#heading {
    color: rgb(212, 15, 230);
}
body {
    background-color: rgb(255, 216, 158);
  }
h1 {
    background-color: rgb(221, 126, 250);
  }
  
  div {
    background-color: rgb(204, 142, 255);
  }
  
  p {
    background-color: rgb(241, 159, 252);
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }