   #firstbox {
        color: cornflowerblue;
        border-style: ridge;
    }
    #secondbox {
        color: rgb(233, 167, 219);
        border-style: ridge;
    }
    #thirdbox {
        color: cornflowerblue;
        border-style: ridge;
    }
    #fourthbox {
        color: rgb(243, 164, 210);
        border-style: ridge;
    }
    .hover-state:hover {
        color: white;
        background-color: blue;
        border: 2px solid aqua;
    }